* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: #e7ceba;
}

a {
    text-decoration: none;
}

.navbar {
    /* background-color: #e7ceba6d; */
    background: linear-gradient(180deg, #e7ceba80, #e7ceba40, #e7ceba00);
    color: black;
    height: 60px;
    position: absolute;
    width: 100%;
    /* transition-duration: 1s; */ /* supported only for background-color*/
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0);
    transition-duration: 0.6;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 30px;
    margin-right: 60px;
}

.navbar a {
    color: #fff;
    margin-left: 30px;
    font-size: 17px;
}

.navbar a:hover {
    color: #e7ceba;
    transition: 0.2s;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24% 0% 0% 0%;
}

.title h1 {
    color: #fff;
    font-size: 3rem;
    position: absolute;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    font-style: oblique;
    font-family: cursive;
}

#logo a {
    color: rgb(255, 255, 255);   
    font-size: 2rem;
}

.header img {
    width: auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.section {
    background-color: #e7ceba;
}

.section img {
    max-width: 400px;
    padding-left: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-1,
.item-2,
.item-3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #fff; */
    background: linear-gradient(-90deg, #fff, #fff, #fff, #e7ceba);
    font-size: large;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex: 1;
}

.item-2 {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, #fff, #fff, #fff, #e7ceba);
    margin-bottom: 0;
    margin-bottom: 20px;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;   
}

.item-2 img {
    padding: 0px 20px 0px 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.item-3 {
    margin-bottom: 0px;
}

section button {
    background-color: rgb(18, 18, 18);
    color: #fff;
    font-size: x-large;
    font-family: fantasy;
    font-weight: 600;
    font-style: oblique;
    padding: 5px 80px;
    width: 60%;
    margin-top: 60px;
    margin-left: 150px;
    border: none;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

section button:hover {
    background-color: rgb(201, 201, 201);
    color: rgb(18, 18, 18);
    transition-duration: 0.4s;
}

.section-2 {
    background-color: #fff;
}

.section-2 img {
    max-width: 300px;
    border: 5px solid rgb(201, 201, 201);
}

.section-2 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 3px solid #e7ceba;
}

.section-2 h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: xx-large;
}

.section-2 h3 {
    margin: 20px 0px;
    background-color: #e7ceba;
    padding: 15px;
    border-radius: 15px;
}

.footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    /* width: 33.33%; */
    width: fit-content;
    padding: 0 30px 0 30px;
}

.right-link {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 0 30px;
    color: #fff;
}

.right-link a {
    background-color: #e7ceba;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
}

.right-link a:hover {
    color: rgb(18, 18, 18);
    background-color: #fff;
    border:none;
}

address {
    padding: 0 30px 0 30px;
    line-height: 1.2;
    text-align: center;
}

/* MEDIA QUERIES*/

@media(max-width: 768px) {
    .navbar {
        height: 70px;
    }
    
    .navbar a {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .title {
        text-align: center;
        line-height: 1.1;
    }

    #logo {
        line-height: 1;
    }
    
    header img {
        height: 400px;
        width: auto;
    }


    .section .container {
        /* display: block; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-1,
    .item-2,
    .item-3  {
        /* display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center; */ /*removed so they wont be stack inline column*/
        margin: 30px;
        max-width: fit-content;
    }

    .section img {
        height: 20vh;
        width: 30vh;
    }

    .item-2 img {
        margin-left: 35px; 
    }

    .section .text {
        text-align: center;
        font-size:large;
        padding-top: 20px;
    }

    .item-1 button,
    .item-2 button,
    .item-3 button {
        margin-left: 100px;
        margin-top: 25px;
        padding: 10px; /* makes out button text inside to be inline and not stack*/
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    /* .left-items {
        margin-top: 20px;
    } */ /* deleted to be the cause of having the address far down*/

    .right-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}